<div class="static-home-bg"></div>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Made By You For You</h2>
      </div>
    </div>
  </div>
</div>

<section class="welcome">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="example1"></div>
      </div>
      <div class="col-sm-6">
        <div class="example2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="example3"></div>
      </div>
      <div class="col-sm-6">
        <div class="example4"></div>
      </div>
    </div>
  </div>
</section>
