/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/* General */

body {
	background: #fff;
	color: #222;
}
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
	color: #aaa;
}
.btn {
	padding: 10px 20px;
	background: #333;
	border-radius: 0;
	color:#ccc;
	transition: all ease .3s;
}
.btn:hover {
	color:#fff;
	background: #1b1b1b;
}
textarea , .title-area input {
	color: #333;
	width: 100%;
	padding: 10px;
}
.title-area textarea , .title-area input {
	font-size: 18px;
}


/* Navbar */

.navbar {
		background: rgba(0,0,0,.8);
		color: #fff;
		border: none;

	a, .navbar li a, .navbar .nav .open > a {
		color: #fff;
	}
	.nav > li > a:hover, .nav > li > a:focus ,.navbar li a:active, .navbar li a:visited, .navbar .nav .open > a:hover, .navbar .nav .open > a:focus  {
		color: #fff;
		background: none;
	}
	.dropdown-menu {
		background: rgba(0,0,0,.8);
		border: none;
		box-shadow: none;
	}
	.dropdown-menu a {
		color: #fff;
	}
	.dropdown-menu .divider {
		background: rgba(255,255,255,.15);
	}
	p {
		padding: 15px;
		margin: 0;
	}
	.navbar-form {
		margin: 6px 0 0 0;
	}
	.navbar-left {
		padding: 0;
	}
	.btn {
		background: rgba(255,255,255,.15);
		padding: 7px 15px;
	}
	.btn:hover {
		background: rgba(0,0,0,.3);
	}
	.form-control {
		border-radius: 0;
		padding: 10px;
	}
	.userImage {
		height: 40px;
		width: 40px;
		padding: 0;
		margin: 0;
	}
	.userImageLi a {
		padding: 0 0 0 15px;
		margin-top: 5px;
	}
}

.navbar-collapse {
	box-shadow: none;
}
.nav-blocker {
	height: 70px;
}
.navbar-brand {
	padding: 20px 15px;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
@media (max-width: 768px) {
	.navbar-brand {
		padding: 15px;
	}
}



/* Footer */

.footerBar {
	padding: 30px 0;
	margin-top: 30px;
	background: rgba(0,0,0,.8);
	color: #fff;

	a {
		color: #ddd;
		transition: all ease .2s;
	}
	a:hover {
		color: #fff;
	}	hr {
		width: 100%;
		margin: 30px 0 15px 0;
	}
}

footer {
	padding: 0 0 30px 0;
	margin-top: 0;
	background: rgba(0,0,0,.8);
	color: #fff;

	a {
		color: #ddd;
		transition: all ease .2s;
	}
	a:hover {
		color: #fff;
	}
	input {
		padding: 10px;
		font-size: 16px;
		width:300px;
		color: #333;
	}
}
