/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* General */

body {
	background: #fff;
	color: #222;
}

a:hover {
	text-decoration: none;
	color: #aaa;
}
.btn {
	padding: 10px 20px;
	background: #333;
	border-radius: 0;
	color:#ccc;
	transition: all ease .3s;
}
.btn:hover {
	color:#fff;
	background: #1b1b1b;
}
textarea , .title-area input {
	color: #333;
	width: 100%;
	padding: 10px;
}
.title-area textarea , .title-area input {
	font-size: 18px;
}


/* Navbar */

.navbar {
		background: rgba(0,0,0,.8);
		color: #fff;
		border: none;
	a , {
		color: #fff;
	}
	li a:hover , li a:active , .nav .open > a, .nav .open > a:hover, .nav .open > a:focus  {
		color: #fff;
		background:none;
	}
	.dropdown-menu {
		background: rgba(0,0,0,.8);
		border: none;
		box-shadow: none;
	}
	.dropdown-menu a {
		color: #fff;
	}
	.dropdown-menu .divider {
		background: #000;
	}
}

.navbar-collapse {
	box-shadow: none;
}
.nav-blocker {
	height: 70px;
}
.navbar-brand {
	padding-top: 20px;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
/* Footer */

footer {
	padding: 30px;
	margin-top: 30px;
	background: rgba(0,0,0,.8);
	color: #fff;

	a {
		color: #fff;
	}
	input {
		padding: 10px;
		font-size: 16px;
		width:300px;
		color: #333;
	}

}
