// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* General */

ul {
	padding: 0;
}
ul li {
	list-style: none;
	padding: 5px;
}


/* Index */
.blog-main , .show {

	ul {
		margin-top: 30px;
	}
	ul li {
		display: inline;
		padding: 0 15px 0 0;
	}
	.comments {
		background: #ddd;
		margin: 30px 0;
		border: 1px solid #333;
		color: #666;
	}
	hr {
		border-color: #333;
	}

}

/* Edit Post */
.edit {

	.froala-element.f-basic {
		min-height: 600px;
	}

	.title-area textarea {
		width: 100%;
	}

	ul li {
		display: inline;
	}

	.post-area {
		min-height: 500px;
		width: 100%;
		padding: 5px;
	}

	.container-fluid {
		padding-right: 0;
	}

	.colEditPad {
		padding-right: 480px;
	}

	.toggleEditor {
			margin-left: -100px;
	}

	.blogEditor {
		padding: 0;
		background: #fff;
		border-top: 2px solid #333;
		border-left: 10px solid #333;
		border-bottom: 2px solid #333;
		z-index: 10;
		position: fixed;
		width: 100px;
		left: 100%;

		.cogHolder {
			margin: 0;
			border-radius: 20px 0 0 20px;
			top: -2px;
			position: absolute;
			left: -45px;
			padding: 8px 15px 7px 5px;
			color: #fff;
			background: #333;
			cursor: pointer;

		}
		.tab-content {
			padding: 20px;
		}
	}
}
