// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* General */

ul {
	padding: 0;
}
ul li {
	list-style: none;
	padding: 5px;
}


/* Index */
.blog-main , .show {

	ul {
		margin-top: 30px;
	}
	ul li {
		display: inline;
		padding: 0 15px 0 0;
	}

}
.blog-home-bg {
	background: image-url("blog/blog_home_bg.jpg") center center no-repeat fixed;
	background-size: cover;
	height: 400px;
}

/* Edit Post */
.edit {
	.title-area textarea {
		width: 100%;
	}

	ul li {
		display: inline;
	}

	.post-area textarea {
		height: 300px;
		width: 100%;
		padding: 5px;
	}

}
