// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header-img {
  background: image-url("static/header.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 400px;

  .col-sm-12 {
    position: relative;
  }
  .currentUserInfo {
    position: absolute;
    margin: 0;
    top: 85px;
    color: #fff;

    .userName {
      background: rgba(0,0,0,.8);
      padding: 20px 30px;
    }
    li {
      display: inline-block;
    }
  }
}

.userShow {

  ul {
    margin-top: 30px;
  }
  ul li {
    display: inline;
  }
}

.login {

  margin: 30px 0;

  #login_email , #login_password , #user_name , #user_email , #user_password , #user_password_confirmation {
    width: 300px;
    padding: 10px;
    color: #333;
  }
  .avatarBtn {
    padding: 10px 20px;
    background: #333;
    border-radius: 0;
    color:#ccc;
    transition: all ease .3s;
    margin: 20px auto;
  }
  input[ type="submit" ] {
    padding: 10px;
    width: 300px;
    margin: 20px 0 40px 0;
    color: #333;
    font-size: 18px;
  }

}

.editUser {
  background: #333;
  padding: 15px;

  .inlineList {
    margin: 0;
    
  	li {
  		display: inline;
  	}
  	a {
  		background: none;
      border: 2px solid #fff;
      margin: 0;
  	}
  }

}
